<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        body{
            background: linear-gradient(to right, transparent 10%, rgb(16, 158, 158) 100%);
        }
        .sign_up{
            height: 500px; 
            width: 50%; 
            border: 10px solid transparent;
            border-image: linear-gradient(to right, transparent 0%, cyan 100%);
            border-image-slice: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 300px;
            margin-top: 80px;
        }
        input{
            border-radius: 10px;
        }
        
        
        
    </style>
</head>
<body>  
        
        <div class="sign_up">
        <h1>sign up!</h1>
        <form method="POST" action="/register">
        {{!-- <p>Name:</p> --}}
            <input type="text" name="first_name" placeholder="First name"><br><br>
            <input type="text" name="last_name" placeholder="last name"><br><br>
            <input type="text" name="email" placeholder="E-mail"><br><br>
            <input type="password" name="password" placeholder="Password"><br><br>
            <input type="text" name="org_name" placeholder="organisation name"><br><br>
            <button type="submit">submit!</button>
        </form>
    {{!-- {{#if currentUser}}
    <h1>current user is loogedIN!</h1>
    {{/if}} --}}
</body>
</html>